---
interface Props {}

const {} = Astro.props;
---

<div class="mx-auto max-w-7xl px-6 lg:px-8">
  <div
    class="mx-auto grid max-w-lg grid-cols-4 items-center gap-x-8 gap-y-12 sm:max-w-xl sm:grid-cols-6 sm:gap-x-10 sm:gap-y-14 lg:mx-0 lg:max-w-none lg:grid-cols-5"
  >
    <img
      class="col-span-2 max-h-16 w-full object-contain lg:col-span-1"
      src="./company/c1.jpg"
      alt="Transistor"
      width="158"
      height="48"
    />
    <img
      class="col-span-2 max-h-16 w-full object-contain lg:col-span-1"
      src="./company/c2.jpg"
      alt="Reform"
      width="158"
      height="48"
    />
    <img
      class="col-span-2 max-h-16 w-full object-contain lg:col-span-1"
      src="./company/c3.jpg"
      alt="Tuple"
      width="158"
      height="48"
    />
    <img
      class="col-span-2 max-h-16 w-full object-contain sm:col-start-2 lg:col-span-1"
      src="./company/c2.jpg"
      alt="SavvyCal"
      width="158"
      height="48"
    />
    <img
      class="col-span-2 col-start-2 max-h-16 w-full object-contain sm:col-start-auto lg:col-span-1"
      src="./company/c1.jpg"
      alt="Statamic"
      width="158"
      height="48"
    />
  </div>
  <div class="mt-8 flex justify-center">
    <p
      class="relative text-center rounded-full px-8 py-3.5 text-sm leading-6 text-gray-600 ring-1 ring-inset ring-gray-900/10 hover:ring-gray-900/20"
    >
      <span class="hidden md:inline"
        >UNSW is located on the unceded territory of the Bedegal (Kensington
        campus), Gadigal (City and Paddington Campuses) and Ngunnawal peoples
        (UNSW Canberra) who are the Traditional Owners of the lands where each
        campus of UNSW is situated.</span
      >
    </p>
  </div>
</div>
